.mywork{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;


}
.mywork-title{
    position: relative;
}
.mywork-title h1{
    padding: 0px 30px;
    font-size: 50px;
    font-weight: 600;
}
.mywork-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.mywork-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-left: 80px;
    margin-right: 80px;

}
.mywork-container img{
    box-sizing: border-box;
    width: 340px;
    height: 230px;
    transition: 0.3s;
    cursor: pointer;
}
.mywork-container img:hover{
    transform: scale(1.10);
    border: 2px solid rgb(179, 241, 8);
    border-radius: 10px;
    transition: 0.3s;
}
.mywork-showmore{
    display: flex;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid white;
    padding: 13px 30px;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 80px;
    transition: 0.6s;
    cursor: pointer;
}
.mywork-showmore:hover{
    gap: 30px;
    transition: 0.6s;
    background-color: rgb(255, 81, 0);
    color: black;
    font-weight: 500;
    
}
@media(max-width:768px){
    .mywork{
        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }
    .mywork-title h1{
        padding: 0;
        font-size: 30px;
        font-weight: 600;
    }
    .mywork-title img{
        width: 130px;
        margin-right: -20px;
    }
    .mywork-container{
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        align-items: start;
        margin-left: -50px;
    }
    .mywork-container img{
        width: 200px;
        align-items: start;
    }
    .mywork-showmore{
        padding: 20px 20px;
        margin-left: 80px;
        cursor: pointer;
    }
    .mywork-container img:hover{
        transform: scale(1.10);
        border: 2px solid rgb(179, 241, 8);
        border-radius: 10px;
        height: 138px;
        transition: 0.3s;

    }
}
